Control {
    kind: Continue,
    span: 0..8,
}
Control {
    kind: Continue,
    expression: label,
    span: 10..24,
}
Control {
    kind: Break,
    span: 26..31,
}
Control {
    kind: Break,
    expression: label,
    span: 33..44,
}
Control {
    kind: Fallthrough,
    span: 46..57,
}
Control {
    kind: Fallthrough,
    expression: label,
    span: 59..76,
}
Control {
    kind: Return,
    span: 78..84,
}
Control {
    kind: Return,
    expression: expression,
    span: 86..103,
}
Control {
    kind: Raise,
    span: 105..110,
}
Control {
    kind: Raise,
    expression: expression,
    span: 112..128,
}
Control {
    kind: YieldReturn,
    span: 130..135,
}
Control {
    kind: YieldReturn,
    expression: expression,
    span: 137..153,
}
Control {
    kind: YieldReturn,
    expression: expression,
    span: 155..178,
}
Control {
    kind: YieldBreak,
    span: 180..191,
}
Control {
    kind: YieldBreak,
    expression: label,
    span: 193..210,
}
Control {
    kind: YieldFrom,
    span: 212..222,
}
Control {
    kind: YieldFrom,
    expression: expression,
    span: 224..245,
}
