ProgramRoot {
    statements: [
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 9..15),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 36..42),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 57..63),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 104..110),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 149..155),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 191..197),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            type: Micro,
            namepath: NamePathNode {
                names: [
                    Identifier("method", 236..242),
                ],
            },
            modifiers: [],
            attributes: None,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
    ],
}