FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 9..15),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 36..42),
        ],
    },
    kind: Micro,
    annotations: Annotation {
        modifiers: [
            eager,
        ],
    },
    generics: [],
    parameters: [],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 57..63),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("self", 64..68),
            bound: None,
            default: None,
        },
        Single {
            annotations: Empty,
            key: Identifier("list", 73..77),
            bound: Some(
                List,
            ),
            default: None,
        },
        LMark,
        RMark,
    ],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 104..110),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("input", 111..116),
            bound: Some(
                Integer,
            ),
            default: Some(
                0,
            ),
        },
    ],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 149..155),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [],
    returns: ReturnType {
        main: Integer,
    },
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 191..197),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("method", 236..242),
        ],
    },
    kind: Micro,
    annotations: Annotation {
        modifiers: [
            lazy,
        ],
    },
    generics: [],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("self", 247..251),
            bound: None,
            default: None,
        },
        LMark,
        Single {
            annotations: Empty,
            key: Identifier("input", 256..261),
            bound: Some(
                Integer,
            ),
            default: Some(
                0,
            ),
        },
        RMark,
        Single {
            annotations: Empty,
            key: Identifier("list", 280..284),
            bound: Some(
                List,
            ),
            default: None,
        },
    ],
    returns: ReturnType {
        main: Integer,
    },
    body: [],
}
