NamespaceDeclaration {
    kind: Standalone,
    path: std∷create∷test,
}
ExpressionNode {
    omit: false,
    body: TryStatement {
        handler: None,
        body: StatementBlock {
            terms: [],
            span: 0..0,
        },
        span: 28..36,
    },
    span: 28..38,
}
ExpressionNode {
    omit: false,
    body: TryStatement {
        handler: None,
        body: StatementBlock {
            terms: [],
            span: 0..0,
        },
        span: 38..54,
    },
    span: 38..56,
}
ExpressionNode {
    omit: false,
    body: TryStatement {
        handler: None,
        body: StatementBlock {
            terms: [],
            span: 0..0,
        },
        span: 56..74,
    },
    span: 56..76,
}
ExpressionNode {
    omit: false,
    body: MatchCallNode {
        monadic: true,
        base: MatchCallNode {
            monadic: false,
            base: TryStatement {
                handler: None,
                body: StatementBlock {
                    terms: [],
                    span: 0..0,
                },
                span: 76..117,
            },
            kind: Effect,
            patterns: PatternBlock {
                branches: [],
                span: 0..0,
            },
            span: 118..181,
        },
        kind: Typing,
        patterns: PatternBlock {
            branches: [],
            span: 0..0,
        },
        span: 181..234,
    },
    span: 76..235,
}
