if
ApplyCallNode {
    monadic: false,
    caller: condition1,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 13..148,
}
if
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    span: 156..276,
}
