ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: guard,
            span: 3..9,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: condition1,
                arguments: None,
                body: None,
                span: 19..164,
            },
            span: 9..169,
        },
        ExpressionNode {
            omit: false,
            body: guard,
            span: 169..175,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: InfixNode {
                    infix: =,
                    lhs: ApplyCallNode {
                        monadic: false,
                        caller: let,
                        arguments: Some(
                            ArgumentsList {
                                terms: [
                                    TupleTermNode {
                                        key: Nothing,
                                        value: x,
                                    },
                                    TupleTermNode {
                                        key: Nothing,
                                        value: y,
                                    },
                                ],
                                span: 0..0,
                            },
                        ),
                        body: None,
                        span: 178..185,
                    },
                    rhs: point,
                },
                arguments: None,
                body: None,
                span: 193..293,
            },
            span: 175..294,
        },
    ],
}