if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 4..8,
}
if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 13..17,
}
ApplyCallNode {
    monadic: false,
    caller: else,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 22..26,
}
if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 31..35,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: b,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 45..49,
}
if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 54..58,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: b,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 68..72,
}
ApplyCallNode {
    monadic: false,
    caller: else,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 77..81,
}
if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 86..90,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: b,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 100..104,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: c,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 114..118,
}
if
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 123..127,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: b,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 137..141,
}
else
if
ApplyCallNode {
    monadic: false,
    caller: c,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 151..155,
}
ApplyCallNode {
    monadic: false,
    caller: else,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 160..164,
}
if
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    body: ApplyCallNode {
        monadic: false,
        caller: point,
        arguments: ArgumentsList {
            terms: [],
        },
        body: None,
        span: 188..217,
    },
    span: 170..219,
}
if
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    body: ApplyCallNode {
        monadic: false,
        caller: x,
        arguments: ArgumentsList {
            terms: [],
        },
        body: None,
        span: 244..266,
    },
    span: 222..267,
}
