ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: [],
    body: None,
    span: 1..6,
}
ApplyCallNode {
    monadic: false,
    caller: s,
    arguments: [
        ArgumentTerm {
            modifiers: [],
            key: Nothing,
            value: args,
        },
    ],
    body: None,
    span: 10..39,
}
ApplyCallNode {
    monadic: false,
    caller: DotCallNode {
        monadic: false,
        base: ApplyCallNode {
            monadic: false,
            caller: DotCallNode {
                monadic: false,
                base: ApplyCallNode {
                    monadic: false,
                    caller: DotCallNode {
                        monadic: false,
                        base: ClosureCallNode {
                            monadic: false,
                            base: chain,
                            trailing: [
                                body,
                            ],
                            span: 53..62,
                        },
                        term: map,
                        span: 67..71,
                    },
                    arguments: [],
                    body: None,
                    span: 71..102,
                },
                term: select,
                span: 107..114,
            },
            arguments: [],
            body: None,
            span: 114..137,
        },
        term: reject,
        span: 142..149,
    },
    arguments: [],
    body: None,
    span: 149..172,
}
