VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    span: 0..6,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    type: int,
    span: 7..18,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    body: 1,
    span: 19..29,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    type: int,
    body: 1,
    span: 30..45,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    span: 48..58,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    span: 59..76,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    type: Tuple {
        terms: [
            TupleTermNode {
                key: None,
                value: int,
            },
        ],
    },
    body: Tuple {
        terms: [
            TupleTermNode {
                key: None,
                value: 1,
            },
        ],
    },
    span: 78..109,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    type: Tuple {
        terms: [
            TupleTermNode {
                key: None,
                value: int,
            },
            TupleTermNode {
                key: None,
                value: int,
            },
        ],
    },
    body: Tuple {
        terms: [
            TupleTermNode {
                key: None,
                value: 1,
            },
            TupleTermNode {
                key: None,
                value: 1,
            },
        ],
    },
    span: 110..150,
}
VariableDeclaration {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [],
        span: 0..0,
    },
    body: if,
    span: 152..163,
}
ApplyCallNode {
    monadic: false,
    caller: b,
    arguments: [],
    body: None,
    span: 164..170,
}
