ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: WhileLoop {
                kind: While,
                condition: Unconditional,
                then_body: StatementBlock {
                    terms: [],
                    span: 0..0,
                },
                otherwise: None,
                span: 0..10,
            },
            span: 0..10,
        },
        ExpressionNode {
            omit: false,
            body: WhileLoop {
                kind: While,
                condition: Unconditional,
                then_body: StatementBlock {
                    terms: [],
                    span: 0..0,
                },
                otherwise: None,
                span: 10..166,
            },
            span: 10..166,
        },
    ],
}