ExpressionNode {
    omit: false,
    body: ForLoop {
        pattern: Tuple(
            TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("i", 4..5),
                        },
                    ),
                ],
                span: 0..0,
            },
        ),
        iterator: Placeholder,
        condition: None,
        then: StatementBlock {
            terms: [
                ExpressionNode {
                    omit: false,
                    body: looping,
                    span: 20..28,
                },
            ],
            span: 14..29,
        },
        span: 0..32,
    },
    span: 0..32,
}
ExpressionNode {
    omit: false,
    body: ForLoop {
        pattern: Tuple(
            TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("i", 36..37),
                        },
                    ),
                ],
                span: 0..0,
            },
        ),
        iterator: Placeholder,
        condition: None,
        then: StatementBlock {
            terms: [],
            span: 51..55,
        },
        span: 32..56,
    },
    span: 32..58,
}
ExpressionNode {
    omit: false,
    body: ForLoop {
        pattern: Tuple(
            TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("i", 62..63),
                        },
                    ),
                ],
                span: 0..0,
            },
        ),
        iterator: Placeholder,
        condition: None,
        then: StatementBlock {
            terms: [],
            span: 92..96,
        },
        span: 58..97,
    },
    span: 58..99,
}
ExpressionNode {
    omit: false,
    body: ForLoop {
        pattern: Tuple(
            TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("k", 104..105),
                        },
                    ),
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("v", 107..108),
                        },
                    ),
                ],
                span: 0..0,
            },
        ),
        iterator: Placeholder,
        condition: None,
        then: StatementBlock {
            terms: [
                ExpressionNode {
                    omit: false,
                    body: ForLoop {
                        pattern: Tuple(
                            TuplePatternNode {
                                bind: None,
                                name: None,
                                terms: [
                                    Atom(
                                        IdentifierPattern {
                                            modifiers: ModifierList {
                                                terms: [],
                                            },
                                            identifier: Identifier("i", 129..130),
                                        },
                                    ),
                                    Atom(
                                        IdentifierPattern {
                                            modifiers: ModifierList {
                                                terms: [],
                                            },
                                            identifier: Identifier("j", 132..133),
                                        },
                                    ),
                                ],
                                span: 0..0,
                            },
                        ),
                        iterator: Placeholder,
                        condition: None,
                        then: StatementBlock {
                            terms: [
                                ExpressionNode {
                                    omit: false,
                                    body: looping,
                                    span: 153..165,
                                },
                            ],
                            span: 143..166,
                        },
                        span: 124..167,
                    },
                    span: 124..167,
                },
            ],
            span: 118..168,
        },
        span: 99..171,
    },
    span: 99..171,
}
ExpressionNode {
    omit: false,
    body: ForLoop {
        pattern: Tuple(
            TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("k", 176..177),
                        },
                    ),
                    Atom(
                        IdentifierPattern {
                            modifiers: ModifierList {
                                terms: [],
                            },
                            identifier: Identifier("v", 183..184),
                        },
                    ),
                ],
                span: 0..0,
            },
        ),
        iterator: Placeholder,
        condition: None,
        then: StatementBlock {
            terms: [
                ExpressionNode {
                    omit: false,
                    body: looping,
                    span: 210..218,
                },
            ],
            span: 204..219,
        },
        span: 171..221,
    },
    span: 171..221,
}
