ForLoop {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("i", 4..5),
            },
        ],
        span: 0..0,
    },
    iterator: Placeholder,
    condition: None,
    then: [
        looping,
    ],
    span: 0..32,
}
ForLoop {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("i", 36..37),
            },
        ],
        span: 0..0,
    },
    iterator: Placeholder,
    condition: None,
    then: [],
    span: 32..56,
}
ForLoop {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("i", 62..63),
            },
        ],
        span: 0..0,
    },
    iterator: Placeholder,
    condition: None,
    then: [],
    span: 58..97,
}
ForLoop {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("k", 104..105),
            },
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("v", 107..108),
            },
        ],
        span: 0..0,
    },
    iterator: Placeholder,
    condition: None,
    then: [
        ForLoop {
            pattern: TuplePatternNode {
                bind: None,
                name: None,
                terms: [
                    IdentifierPattern {
                        modifiers: [],
                        identifier: Identifier("i", 129..130),
                    },
                    IdentifierPattern {
                        modifiers: [],
                        identifier: Identifier("j", 132..133),
                    },
                ],
                span: 0..0,
            },
            iterator: Placeholder,
            condition: None,
            then: [
                looping,
            ],
            span: 124..167,
        },
    ],
    span: 99..171,
}
ForLoop {
    pattern: TuplePatternNode {
        bind: None,
        name: None,
        terms: [
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("k", 176..177),
            },
            IdentifierPattern {
                modifiers: [],
                identifier: Identifier("v", 183..184),
            },
        ],
        span: 0..0,
    },
    iterator: Placeholder,
    condition: None,
    then: [
        looping,
    ],
    span: 171..221,
}
