WhileLoop {
    kind: While,
    condition: Unconditional,
    then: [],
    span: 0..10,
}
WhileLoop {
    kind: While,
    condition: Unconditional,
    then: [
        ApplyCallNode {
            monadic: false,
            caller: print,
            arguments: [
                ArgumentTerm {
                    key: Nothing,
                    value: 'Loop!',
                },
            ],
            body: None,
            span: 32..41,
        },
        WhileLoop {
            kind: While,
            condition: Unconditional,
            then: [
                ApplyCallNode {
                    monadic: false,
                    caller: print,
                    arguments: [
                        ArgumentTerm {
                            key: Nothing,
                            value: 'Deep loop!',
                        },
                    ],
                    body: None,
                    span: 74..88,
                },
                WhileLoop {
                    kind: While,
                    condition: Unconditional,
                    then: [
                        ApplyCallNode {
                            monadic: false,
                            caller: print,
                            arguments: [
                                ArgumentTerm {
                                    key: Nothing,
                                    value: 'Deeper loop!',
                                },
                            ],
                            body: None,
                            span: 130..146,
                        },
                    ],
                    span: 98..162,
                },
            ],
            span: 47..164,
        },
    ],
    span: 10..166,
}
