MatchStatement {
    kind: Typing,
    bind: None,
    main: a,
    patterns: [
        PatternBranch {
            condition: PatternCaseNode {
                pattern: IdentifierPattern {
                    modifiers: [],
                    identifier: Identifier("", 0..0),
                },
                guard: None,
                span: 14..28,
            },
            continuation: [
                a,
            ],
            span: 14..28,
        },
        PatternBranch {
            condition: Guaranteed,
            continuation: [
                1,
            ],
            span: 28..36,
        },
    ],
    span: 0..37,
}
