NamespaceDeclaration {
    kind: Standalone,
    path: test∷literal,
}
Tuple {
    terms: [],
}
0
Tuple {
    terms: [
        ArgumentTerm {
            key: Nothing,
            value: 1,
        },
    ],
}
Tuple {
    terms: [
        ArgumentTerm {
            key: Nothing,
            value: 1,
        },
        ArgumentTerm {
            key: Nothing,
            value: 2,
        },
    ],
}
Tuple {
    terms: [
        ArgumentTerm {
            key: Nothing,
            value: true,
        },
        ArgumentTerm {
            key: Nothing,
            value: Tuple {
                terms: [
                    ArgumentTerm {
                        key: Nothing,
                        value: false,
                    },
                ],
            },
        },
    ],
}
Tuple {
    terms: [
        ArgumentTerm {
            key: Nothing,
            value: 0,
        },
        ArgumentTerm {
            key: Nothing,
            value: 1,
        },
        ArgumentTerm {
            key: Identifier("a", 97..98),
            value: 1,
        },
        ArgumentTerm {
            key: Identifier("z", 103..104),
            value: 26,
        },
    ],
}
Tuple {
    terms: [
        ArgumentTerm {
            key: Identifier("啊", 112..115),
            value: 1,
        },
        ArgumentTerm {
            key: Identifier("吧", 120..123),
            value: 2,
        },
        ArgumentTerm {
            key: Identifier("", 128..133),
            value: 3,
        },
        ArgumentTerm {
            key: Identifier("", 138..143),
            value: 4,
        },
    ],
}
RangeNode {
    kind: Offset,
    terms: [],
    span: 157..159,
}
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 0,
        },
    ],
    span: 161..164,
}
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 1,
        },
    ],
    span: 166..171,
}
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 1,
        },
        Index {
            index: 2,
        },
    ],
    span: 173..179,
}
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: true,
        },
        Index {
            index: RangeNode {
                kind: Offset,
                terms: [
                    Index {
                        index: false,
                    },
                ],
                span: 188..195,
            },
        },
    ],
    span: 181..196,
}
RangeNode {
    kind: Offset,
    terms: [],
    span: 207..209,
}
RangeNode {
    kind: Offset,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 211..214,
}
RangeNode {
    kind: Offset,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 216..220,
}
RangeNode {
    kind: Offset,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 222..227,
}
