ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: StringTextNode {
                text: "\n$x\n\n${y}\n${{}\n",
                span: 0..23,
            },
            span: 0..24,
        },
        ExpressionNode {
            omit: false,
            body: json,
            span: 27..31,
        },
        ExpressionNode {
            omit: true,
            body: StringTextNode {
                text: "\n{\n    x: 1\n    y: 2\n}\n",
                span: 31..60,
            },
            span: 31..61,
        },
    ],
}