ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: '\n$x\n\n${y}\n${{}\n',
            span: 0..24,
        },
        ExpressionNode {
            omit: true,
            body: json'\n{\n    x: 1\n    y: 2\n}\n',
            span: 27..61,
        },
    ],
}