NamespaceDeclaration {
    kind: Standalone,
    path: tests∷literal∷escape,
}
''
''
'\''
'"'
f'\\n'
r'\\n'
'\\\n'
'\\u{24}'
'\\u{03D6}'
'\\u{000024}'
'\\u{99999999}'
'\\n'
'\\a'
re'\n# comment\nab[cd]\n'
xml'\n<list>xml</list>\n'
