ProgramRoot {
    statements: [
        NamespaceDeclaration {
            kind: Unique,
            path: [
                IdentifierNode {
                    name: "tests",
                    span: FileSpan {
                        start: 11,
                        end: 16,
                        file: FileID(0x88430C8C4EA0D133),
                    },
                },
                IdentifierNode {
                    name: "literal",
                    span: FileSpan {
                        start: 17,
                        end: 24,
                        file: FileID(0x88430C8C4EA0D133),
                    },
                },
                IdentifierNode {
                    name: "escape",
                    span: FileSpan {
                        start: 25,
                        end: 31,
                        file: FileID(0x88430C8C4EA0D133),
                    },
                },
            ],
            span: 0..32,
        },
    ],
}