NamespaceDeclaration {
    kind: Standalone,
    path: std∷create∷test,
}
NullNode {
    nil: true,
    span: 28..31,
}
NullNode {
    nil: true,
    span: 33..36,
}
nil
null
true
false
a
a∷b
a∷b∷c
我
我∷的
我∷的∷库
