[package]
name = "valkyrie-ast"
version = "0.0.0"
authors = ["Aster <192607617@qq.com>"]
description = "Abstract Syntax Tree of valkyrie language"
repository = "https://github.com/nyar-vm/valkyrie.rs"
documentation = "https://docs.rs/valkyrie-ast"
readme = "Readme.md"
license = "MPL-2.0"
edition = "2021"

[dependencies]
url = "2.3.1"
serde = { version = "1.0.163", features = ["derive"], optional = true }

#unicode-ident = "1.0.6"
#indexmap = "1.9.2"
#itertools = "0.10.5"
#serde = { version = "1.0.152", features = ["derive"] }

#[dependencies.valkyrie-errors]
#version = "0.0.0"
#path = "../valkyrie-errors"
#features = ["dashu", "pratt"]


#[dev-dependencies]
#peginator_codegen = "0.6.0"

[features]
default = []
serde = ["dep:serde", "url/serde"]
