ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                base: f,
                monadic: false,
                caller: None,
                arguments: None,
                span: 21..23,
            },
            span: 20..24,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                base: f,
                monadic: false,
                caller: None,
                arguments: None,
                span: 26..29,
            },
            span: 25..30,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                base: f,
                monadic: false,
                caller: None,
                arguments: None,
                span: 32..38,
            },
            span: 31..39,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                base: f,
                monadic: false,
                caller: None,
                arguments: None,
                span: 41..72,
            },
            span: 40..92,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                base: ApplyCallNode {
                    base: ApplyCallNode {
                        base: ApplyCallNode {
                            base: f,
                            monadic: false,
                            caller: None,
                            arguments: None,
                            span: 93..95,
                        },
                        monadic: false,
                        caller: None,
                        arguments: None,
                        span: 95..98,
                    },
                    monadic: false,
                    caller: None,
                    arguments: None,
                    span: 98..104,
                },
                monadic: false,
                caller: None,
                arguments: None,
                span: 104..113,
            },
            span: 92..114,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 128..129,
        },
    ],
}