ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                monadic: false,
                caller: f,
                arguments: Some(
                    ArgumentsList {
                        terms: [],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 21..23,
            },
            span: 20..24,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                monadic: false,
                caller: f,
                arguments: Some(
                    ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: Nothing,
                                value: 1,
                            },
                        ],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 26..29,
            },
            span: 25..30,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                monadic: false,
                caller: f,
                arguments: Some(
                    ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: Identifier(
                                    IdentifierNode {
                                        name: "k",
                                        span: FileSpan {
                                            start: 33,
                                            end: 34,
                                            file: FileID(0xE164825B5852CC6F),
                                        },
                                    },
                                ),
                                value: 1,
                            },
                        ],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 32..38,
            },
            span: 31..39,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: f,
                arguments: Some(
                    ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: Nothing,
                                value: null,
                            },
                            TupleTermNode {
                                key: Identifier(
                                    IdentifierNode {
                                        name: "a",
                                        span: FileSpan {
                                            start: 48,
                                            end: 49,
                                            file: FileID(0xE164825B5852CC6F),
                                        },
                                    },
                                ),
                                value: 1,
                            },
                            TupleTermNode {
                                key: Nothing,
                                value: UnaryNode {
                                    prefix: *,
                                    base: UnaryNode {
                                        prefix: *,
                                        base: args,
                                    },
                                },
                            },
                            TupleTermNode {
                                key: Nothing,
                                value: UnaryNode {
                                    prefix: *,
                                    base: UnaryNode {
                                        prefix: *,
                                        base: UnaryNode {
                                            prefix: *,
                                            base: kwargs,
                                        },
                                    },
                                },
                            },
                        ],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 41..72,
            },
            span: 40..92,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                monadic: false,
                caller: ApplyCallNode {
                    monadic: false,
                    caller: ApplyCallNode {
                        monadic: false,
                        caller: ApplyCallNode {
                            monadic: false,
                            caller: f,
                            arguments: Some(
                                ArgumentsList {
                                    terms: [],
                                    span: 0..0,
                                },
                            ),
                            body: None,
                            span: 93..95,
                        },
                        arguments: Some(
                            ArgumentsList {
                                terms: [
                                    TupleTermNode {
                                        key: Nothing,
                                        value: 1,
                                    },
                                ],
                                span: 0..0,
                            },
                        ),
                        body: None,
                        span: 95..98,
                    },
                    arguments: Some(
                        ArgumentsList {
                            terms: [
                                TupleTermNode {
                                    key: Nothing,
                                    value: 1,
                                },
                                TupleTermNode {
                                    key: Nothing,
                                    value: 2,
                                },
                            ],
                            span: 0..0,
                        },
                    ),
                    body: None,
                    span: 98..104,
                },
                arguments: Some(
                    ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: Nothing,
                                value: 1,
                            },
                            TupleTermNode {
                                key: Nothing,
                                value: 2,
                            },
                            TupleTermNode {
                                key: Nothing,
                                value: 3,
                            },
                        ],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 104..113,
            },
            span: 92..114,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 128..129,
        },
    ],
}