ApplyCallNode {
    monadic: false,
    caller: SubscriptCallNode {
        kind: Ordinal,
        base: ApplyCallNode {
            monadic: false,
            caller: a,
            arguments: [
                ArgumentTerm {
                    key: Nothing,
                    value: 1,
                },
            ],
            body: None,
            span: 1..4,
        },
        monadic: false,
        terms: [
            Index {
                index: 2,
            },
        ],
        span: 4..7,
    },
    arguments: [],
    body: None,
    span: 7..10,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ApplyCallNode {
        monadic: false,
        caller: a,
        arguments: [
            ArgumentTerm {
                key: Nothing,
                value: 1,
            },
        ],
        body: None,
        span: 12..18,
    },
    monadic: false,
    terms: [
        Index {
            index: 3,
        },
    ],
    span: 18..21,
}
ApplyCallNode {
    monadic: false,
    caller: SubscriptCallNode {
        kind: Ordinal,
        base: a,
        monadic: false,
        terms: [
            Index {
                index: 1,
            },
        ],
        span: 23..26,
    },
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: 2,
        },
    ],
    body: None,
    span: 26..32,
}
ApplyCallNode {
    monadic: false,
    caller: ApplyCallNode {
        monadic: false,
        caller: SubscriptCallNode {
            kind: Ordinal,
            base: a,
            monadic: false,
            terms: [
                Index {
                    index: 1,
                },
            ],
            span: 34..37,
        },
        arguments: [],
        body: None,
        span: 37..40,
    },
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: 3,
        },
    ],
    body: None,
    span: 40..43,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ApplyCallNode {
        monadic: false,
        caller: ApplyCallNode {
            monadic: false,
            caller: a,
            arguments: [],
            body: None,
            span: 45..48,
        },
        arguments: [
            ArgumentTerm {
                key: Nothing,
                value: 2,
            },
        ],
        body: None,
        span: 48..51,
    },
    monadic: false,
    terms: [
        Index {
            index: 3,
        },
    ],
    span: 51..54,
}
ApplyCallNode {
    monadic: false,
    caller: SubscriptCallNode {
        kind: Ordinal,
        base: ApplyCallNode {
            monadic: false,
            caller: a,
            arguments: [],
            body: None,
            span: 56..59,
        },
        monadic: false,
        terms: [
            Index {
                index: 2,
            },
        ],
        span: 59..62,
    },
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: 3,
        },
    ],
    body: None,
    span: 62..65,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [],
    span: 71..73,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 78..81,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: None,
            step: None,
        },
    ],
    span: 85..92,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: Some(
                tail,
            ),
            step: None,
        },
    ],
    span: 96..103,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: Some(
                tail,
            ),
            step: None,
        },
    ],
    span: 107..118,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 123..127,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
    ],
    span: 131..138,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: None,
            step: None,
        },
    ],
    span: 142..150,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: None,
            step: None,
        },
    ],
    span: 154..163,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: Some(
                tail,
            ),
            step: None,
        },
    ],
    span: 167..175,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: Some(
                step,
            ),
        },
    ],
    span: 179..187,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: Some(
                step,
            ),
        },
    ],
    span: 191..200,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: Some(
                tail,
            ),
            step: None,
        },
    ],
    span: 204..216,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: Some(
                tail,
            ),
            step: Some(
                step,
            ),
        },
    ],
    span: 220..232,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Index {
            index: head∷step,
        },
    ],
    span: 236..248,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: None,
            step: Some(
                step,
            ),
        },
    ],
    span: 252..265,
}
SubscriptCallNode {
    kind: Ordinal,
    base: ℤ,
    monadic: false,
    terms: [
        Range {
            head: Some(
                head,
            ),
            tail: Some(
                tail,
            ),
            step: Some(
                step,
            ),
        },
    ],
    span: 269..285,
}
