ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: a∷b∷c,
            span: 0..8,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: a∷b∷c,
                arguments: Some(
                    ArgumentsList {
                        terms: [],
                        span: 0..0,
                    },
                ),
                body: None,
                span: 15..17,
            },
            span: 8..19,
        },
        ExpressionNode {
            omit: false,
            body: a∷b,
            span: 19..23,
        },
    ],
}