GenericCallNode {
    monadic: false,
    base: Object,
    term: [],
    span: 20..24,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
    ],
    span: 32..38,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
        ArgumentTerm {
            key: Nothing,
            value: U,
        },
    ],
    span: 46..53,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [],
    span: 78..84,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
    ],
    span: 92..99,
}
ApplyCallNode {
    monadic: false,
    caller: GenericCallNode {
        monadic: false,
        base: Object,
        term: [
            ArgumentTerm {
                key: Nothing,
                value: T,
            },
            ArgumentTerm {
                key: Nothing,
                value: U,
            },
        ],
        span: 107..116,
    },
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: 1,
        },
        ArgumentTerm {
            key: Nothing,
            value: 2,
        },
    ],
    body: None,
    span: 116..122,
}
