GenericCallNode {
    monadic: false,
    base: Object,
    terms: ArgumentsList {
        terms: [],
    },
    associated: [],
    span: 20..24,
}
GenericCallNode {
    monadic: false,
    base: Object,
    terms: ArgumentsList {
        terms: [
            TupleTermNode {
                key: None,
                value: T,
            },
        ],
    },
    associated: [],
    span: 32..38,
}
GenericCallNode {
    monadic: false,
    base: Object,
    terms: ArgumentsList {
        terms: [
            TupleTermNode {
                key: None,
                value: T,
            },
            TupleTermNode {
                key: None,
                value: U,
            },
        ],
    },
    associated: [],
    span: 46..53,
}
GenericCallNode {
    monadic: false,
    base: Object,
    terms: ArgumentsList {
        terms: [],
    },
    associated: [],
    span: 78..84,
}
GenericCallNode {
    monadic: false,
    base: Object,
    terms: ArgumentsList {
        terms: [
            TupleTermNode {
                key: None,
                value: T,
            },
        ],
    },
    associated: [],
    span: 92..99,
}
ApplyCallNode {
    monadic: false,
    caller: GenericCallNode {
        monadic: false,
        base: Object,
        terms: ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: T,
                },
                TupleTermNode {
                    key: None,
                    value: U,
                },
            ],
        },
        associated: [],
        span: 107..116,
    },
    arguments: ArgumentsList {
        terms: [
            TupleTermNode {
                key: None,
                value: 1,
            },
            TupleTermNode {
                key: None,
                value: 2,
            },
        ],
    },
    body: None,
    span: 116..122,
}
