ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: a∷b∷c,
            span: 0..9,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: -,
                lhs: InfixNode {
                    infix: +,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 11..21,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: /,
                lhs: InfixNode {
                    infix: *,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 22..32,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ^,
                lhs: a,
                rhs: InfixNode {
                    infix: ^,
                    lhs: b,
                    rhs: c,
                },
            },
            span: 33..43,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ^,
                lhs: 5,
                rhs: InfixNode {
                    infix: -,
                    lhs: InfixNode {
                        infix: *,
                        lhs: 4,
                        rhs: InfixNode {
                            infix: +,
                            lhs: 3,
                            rhs: 2,
                        },
                    },
                    rhs: 1,
                },
            },
            span: 45..67,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: +,
                lhs: 1,
                rhs: InfixNode {
                    infix: *,
                    lhs: 2,
                    rhs: InfixNode {
                        infix: ^,
                        lhs: 3,
                        rhs: InfixNode {
                            infix: -,
                            lhs: 4,
                            rhs: 5,
                        },
                    },
                },
            },
            span: 68..88,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ==,
                lhs: a,
                rhs: c,
            },
            span: 102..109,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: =,
                lhs: InfixNode {
                    infix: ≠,
                    lhs: a,
                    rhs: UnaryNode {
                        prefix: !,
                        base: b,
                    },
                },
                rhs: c,
            },
            span: 110..123,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ≡,
                lhs: InfixNode {
                    infix: ≡,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 124..138,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ≢,
                lhs: InfixNode {
                    infix: ==,
                    lhs: InfixNode {
                        infix: ≢,
                        lhs: a,
                        rhs: UnaryNode {
                            prefix: !,
                            base: b,
                        },
                    },
                    rhs: c,
                },
                rhs: c,
            },
            span: 139..159,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ≢,
                lhs: InfixNode {
                    infix: ≢,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 160..174,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: >,
                lhs: InfixNode {
                    infix: >,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 188..198,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⩾,
                lhs: InfixNode {
                    infix: ⩾,
                    lhs: InfixNode {
                        infix: ⩾,
                        lhs: a,
                        rhs: b,
                    },
                    rhs: c,
                },
                rhs: d,
            },
            span: 199..216,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: <,
                lhs: InfixNode {
                    infix: <,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 217..227,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⩽,
                lhs: InfixNode {
                    infix: ⩽,
                    lhs: InfixNode {
                        infix: ⩽,
                        lhs: a,
                        rhs: b,
                    },
                    rhs: c,
                },
                rhs: d,
            },
            span: 228..245,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ≫,
                lhs: InfixNode {
                    infix: ≫,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 251..264,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⋙,
                lhs: InfixNode {
                    infix: ⋙,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 265..279,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ≪,
                lhs: InfixNode {
                    infix: ≪,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 280..293,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⋘,
                lhs: InfixNode {
                    infix: ⋘,
                    lhs: a,
                    rhs: b,
                },
                rhs: c,
            },
            span: 294..308,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ∈,
                lhs: a,
                rhs: list,
            },
            span: 322..333,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ∈,
                lhs: a,
                rhs: list,
            },
            span: 334..345,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ∉,
                lhs: a,
                rhs: list,
            },
            span: 346..357,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ∈,
                lhs: a,
                rhs: list,
            },
            span: 358..368,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ∈,
                lhs: a,
                rhs: list,
            },
            span: 369..383,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⊑,
                lhs: a,
                rhs: String,
            },
            span: 398..410,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ⋢,
                lhs: b,
                rhs: String,
            },
            span: 411..427,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: ==,
                lhs: InfixNode {
                    infix: ⍲,
                    lhs: InfixNode {
                        infix: ∧,
                        lhs: InfixNode {
                            infix: ≠,
                            lhs: InfixNode {
                                infix: ⍱,
                                lhs: InfixNode {
                                    infix: ∨,
                                    lhs: InfixNode {
                                        infix: ∨,
                                        lhs: InfixNode {
                                            infix: ∧,
                                            lhs: a,
                                            rhs: b,
                                        },
                                        rhs: c,
                                    },
                                    rhs: d,
                                },
                                rhs: e,
                            },
                            rhs: f,
                        },
                        rhs: g,
                    },
                    rhs: h,
                },
                rhs: i,
            },
            span: 429..477,
        },
    ],
}