ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("A", 4..5),
        ],
    },
    generics: [],
    arguments: [],
    body: [],
    span: 0..6,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("B", 12..13),
        ],
    },
    generics: [],
    arguments: [],
    body: [],
    span: 8..16,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("C", 22..23),
        ],
    },
    generics: [],
    arguments: [],
    body: [],
    span: 18..29,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("D", 35..36),
        ],
    },
    generics: [
        [],
    ],
    arguments: [],
    body: [],
    span: 31..41,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("E", 47..48),
        ],
    },
    generics: [
        [],
    ],
    arguments: [],
    body: [],
    span: 43..57,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 69..73),
        ],
    },
    generics: [],
    arguments: [],
    body: [],
    span: 59..90,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("Integer", 94..101),
        ],
    },
    generics: [
        [
            TupleTermNode {
                key: None,
                value: A,
            },
        ],
    ],
    arguments: [],
    body: [],
    span: 90..115,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 125..129),
        ],
    },
    generics: [
        [
            TupleTermNode {
                key: None,
                value: A,
            },
        ],
    ],
    arguments: [],
    body: [],
    span: 115..144,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 154..158),
        ],
    },
    generics: [],
    arguments: [
        TupleTermNode {
            key: None,
            value: 10,
        },
    ],
    body: [],
    span: 144..201,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 211..215),
        ],
    },
    generics: [
        [
            TupleTermNode {
                key: Some(
                    Identifier("T", 218..219),
                ),
                value: Integer,
            },
        ],
    ],
    arguments: [
        TupleTermNode {
            key: Some(
                Identifier("capacity", 230..238),
            ),
            value: 10,
        },
    ],
    body: [],
    span: 201..282,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("Object", 292..298),
        ],
    },
    generics: [],
    arguments: [],
    body: [],
    span: 282..375,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            keywords,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("BaseballTeam", 388..400),
        ],
    },
    generics: [
        [
            TupleTermNode {
                key: None,
                value: T,
            },
        ],
    ],
    arguments: [
        TupleTermNode {
            key: None,
            value: args,
        },
    ],
    body: [],
    span: 375..849,
}
