ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("A", 4..5),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 0..0,
    },
    body: [],
    span: 0..6,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("B", 12..13),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 13..15,
    },
    body: [],
    span: 8..16,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("C", 22..23),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 0..0,
    },
    body: [],
    span: 18..29,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("D", 35..36),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 0..0,
    },
    body: [],
    span: 31..41,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("E", 47..48),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 52..54,
    },
    body: [],
    span: 43..57,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 69..73),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 0..0,
    },
    body: [],
    span: 59..90,
}
ConstructNewNode {
    annotations: Empty,
    namepath: NamePathNode {
        names: [
            Identifier("Integer", 94..101),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: A,
                },
            ],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 106..108,
    },
    body: [],
    span: 90..115,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 125..129),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: A,
                },
            ],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 135..137,
    },
    body: [],
    span: 115..144,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 154..158),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: 10,
                },
            ],
        },
        span: 158..162,
    },
    body: [],
    span: 144..201,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("List", 211..215),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [
                TupleTermNode {
                    key: Some(
                        Identifier("T", 218..219),
                    ),
                    value: Integer,
                },
            ],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [
                TupleTermNode {
                    key: Some(
                        Identifier("capacity", 230..238),
                    ),
                    value: 10,
                },
            ],
        },
        span: 229..243,
    },
    body: [],
    span: 201..282,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("Object", 292..298),
        ],
    },
    generics: [],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [],
        },
        span: 0..0,
    },
    body: [],
    span: 282..375,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            keywords,
        ],
    },
    namepath: NamePathNode {
        names: [
            Identifier("BaseballTeam", 388..400),
        ],
    },
    generics: [
        ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: T,
                },
            ],
        },
    ],
    arguments: TupleNode {
        kind: Tuple,
        terms: ArgumentsList {
            terms: [
                TupleTermNode {
                    key: None,
                    value: args,
                },
            ],
        },
        span: 406..412,
    },
    body: [],
    span: 375..849,
}
