ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: new,
            span: 0..4,
        },
        ExpressionNode {
            omit: true,
            body: A,
            span: 4..6,
        },
        ExpressionNode {
            omit: false,
            body: new,
            span: 8..12,
        },
        ExpressionNode {
            omit: true,
            body: ApplyCallNode {
                monadic: false,
                caller: B,
                arguments: None,
                body: None,
                span: 13..15,
            },
            span: 12..16,
        },
        ExpressionNode {
            omit: false,
            body: new,
            span: 18..22,
        },
        ExpressionNode {
            omit: false,
            body: C,
            span: 22..24,
        },
    ],
}