ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 1..5),
        ],
    },
    arguments: [],
    domain: None,
    span: 0..6,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 7..11),
        ],
    },
    arguments: [],
    domain: None,
    span: 6..14,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 15..19),
        ],
    },
    arguments: [],
    domain: None,
    span: 14..25,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 26..30),
        ],
    },
    arguments: [],
    domain: Some(
        DomainDeclaration {
            annotations: Empty,
            body: [
                Field {
                    name: field,
                },
            ],
            span: 36..45,
        },
    ),
    span: 25..45,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 47..51),
        ],
    },
    arguments: [],
    domain: Some(
        DomainDeclaration {
            annotations: Empty,
            body: [
                Field {
                    name: field,
                },
            ],
            span: 52..61,
        },
    ),
    span: 46..61,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 63..67),
        ],
    },
    arguments: [],
    domain: Some(
        DomainDeclaration {
            annotations: Empty,
            body: [
                Method {
                    name: method,
                    span: 70..78,
                },
            ],
            span: 68..79,
        },
    ),
    span: 62..79,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 81..85),
        ],
    },
    arguments: [],
    domain: Some(
        DomainDeclaration {
            annotations: Empty,
            body: [
                Method {
                    name: method,
                    body: [],
                    span: 88..99,
                },
            ],
            span: 86..101,
        },
    ),
    span: 80..101,
}
ProceduralNode {
    kind: Normal,
    path: NamePathNode {
        names: [
            Identifier("call", 103..107),
        ],
    },
    arguments: [],
    domain: Some(
        DomainDeclaration {
            annotations: Empty,
            body: [
                DomainDeclaration {
                    annotations: Empty,
                    body: [],
                    span: 110..119,
                },
            ],
            span: 108..121,
        },
    ),
    span: 102..121,
}
