ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 0..6,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 6..14,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 14..25,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 25..45,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 46..61,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 62..79,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 80..101,
}
ProceduralNode {
    kind: Normal,
    path: call,
    arguments: [],
    domain: None,
    span: 102..121,
}
