ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 1,
                    },
                ],
                span: 9..12,
            },
            span: 9..13,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: RangeNode {
                            kind: Ordinal,
                            terms: [
                                Index {
                                    index: 1,
                                },
                            ],
                            span: 15..18,
                        },
                    },
                ],
                span: 14..19,
            },
            span: 14..20,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 2,
                    },
                    Index {
                        index: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 1,
                        },
                    },
                ],
                span: 21..31,
            },
            span: 21..32,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            1,
                        ),
                        step: None,
                    },
                ],
                span: 33..38,
            },
            span: 33..39,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: Some(
                            2,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: None,
                    },
                    Range {
                        head: Some(
                            InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        ),
                        tail: Some(
                            InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        ),
                        step: None,
                    },
                ],
                span: 40..59,
            },
            span: 40..60,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: Some(
                            3,
                        ),
                    },
                    Index {
                        index: RangeNode {
                            kind: Ordinal,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 69..76,
                        },
                    },
                ],
                span: 61..77,
            },
            span: 61..78,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: Some(
                            UnaryNode {
                                prefix: -,
                                base: 1,
                            },
                        ),
                    },
                ],
                span: 79..85,
            },
            span: 79..86,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: None,
                        tail: Some(
                            UnaryNode {
                                prefix: -,
                                base: 2,
                            },
                        ),
                        step: None,
                    },
                ],
                span: 87..93,
            },
            span: 87..94,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: Some(
                            2,
                        ),
                        tail: None,
                        step: None,
                    },
                ],
                span: 95..100,
            },
            span: 95..101,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 1,
                        },
                    },
                ],
                span: 102..109,
            },
            span: 102..110,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: +,
                lhs: RangeNode {
                    kind: Ordinal,
                    terms: [
                        Index {
                            index: InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        },
                    ],
                    span: 111..118,
                },
                rhs: 1,
            },
            span: 111..123,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 1,
                    },
                    Index {
                        index: 2,
                    },
                    Index {
                        index: 3,
                    },
                ],
                span: 124..131,
            },
            span: 124..132,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: RangeNode {
                            kind: Ordinal,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 134..141,
                        },
                    },
                ],
                span: 133..142,
            },
            span: 133..143,
        },
        ExpressionNode {
            omit: true,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: Some(
                            3,
                        ),
                    },
                    Index {
                        index: RangeNode {
                            kind: Ordinal,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 151..158,
                        },
                    },
                ],
                span: 144..159,
            },
            span: 144..160,
        },
    ],
}