ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 1,
                    },
                ],
                span: 1..4,
            },
            span: 0..6,
        },
        ExpressionNode {
            omit: false,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 2,
                    },
                ],
                span: 7..23,
            },
            span: 6..25,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 25..27,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 3,
                    },
                    Index {
                        index: 4,
                    },
                ],
                span: 27..32,
            },
            span: 27..34,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 34..36,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 5,
                    },
                ],
                span: 36..39,
            },
            span: 36..40,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 6,
                    },
                ],
                span: 40..43,
            },
            span: 40..45,
        },
        ExpressionNode {
            omit: false,
            body: DotCallNode {
                monadic: false,
                caller: a,
                term: 1,
                span: 46..48,
            },
            span: 45..49,
        },
        ExpressionNode {
            omit: false,
            body: DotCallNode {
                monadic: false,
                caller: a,
                term: 1,
                span: 50..57,
            },
            span: 49..59,
        },
        ExpressionNode {
            omit: false,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 1,
                    },
                ],
                span: 60..63,
            },
            span: 59..65,
        },
        ExpressionNode {
            omit: false,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 2,
                    },
                ],
                span: 66..82,
            },
            span: 65..84,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 84..86,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 3,
                    },
                    Index {
                        index: 4,
                    },
                ],
                span: 86..91,
            },
            span: 86..93,
        },
        ExpressionNode {
            omit: false,
            body: a,
            span: 93..95,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 5,
                    },
                ],
                span: 95..98,
            },
            span: 95..99,
        },
        ExpressionNode {
            omit: false,
            body: RangeNode {
                kind: Ordinal,
                terms: [
                    Index {
                        index: 6,
                    },
                ],
                span: 99..102,
            },
            span: 99..103,
        },
    ],
}