NamespaceDeclaration {
    kind: Standalone,
    path: expression,
}
DotCallNode {
    monadic: false,
    base: a,
    term: 1,
    span: 115..117,
}
DotCallNode {
    monadic: false,
    base: a,
    term: 1,
    span: 124..126,
}
SubscriptCallNode {
    kind: Ordinal,
    base: a,
    monadic: false,
    terms: [
        Index {
            index: 1,
        },
    ],
    span: 129..132,
}
SubscriptCallNode {
    kind: Ordinal,
    base: a,
    monadic: false,
    terms: [
        Index {
            index: 2,
        },
    ],
    span: 135..151,
}
a
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 3,
        },
        Index {
            index: 4,
        },
    ],
    span: 155..160,
}
a
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 5,
        },
    ],
    span: 164..167,
}
RangeNode {
    kind: Offset,
    terms: [
        Index {
            index: 6,
        },
    ],
    span: 168..171,
}
