ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 1,
                    },
                ],
                span: 11..14,
            },
            span: 10..15,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: RangeNode {
                            kind: Offset,
                            terms: [
                                Index {
                                    index: 1,
                                },
                            ],
                            span: 18..21,
                        },
                    },
                ],
                span: 17..22,
            },
            span: 16..23,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: 2,
                    },
                    Index {
                        index: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 1,
                        },
                    },
                ],
                span: 25..35,
            },
            span: 24..36,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            1,
                        ),
                        step: None,
                    },
                ],
                span: 38..43,
            },
            span: 37..44,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Range {
                        head: Some(
                            2,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: None,
                    },
                    Range {
                        head: Some(
                            InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        ),
                        tail: Some(
                            InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        ),
                        step: None,
                    },
                ],
                span: 46..65,
            },
            span: 45..66,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: e,
                monadic: false,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: Some(
                            3,
                        ),
                    },
                    Index {
                        index: RangeNode {
                            kind: Offset,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 76..83,
                        },
                    },
                ],
                span: 68..84,
            },
            span: 67..85,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: Some(
                            UnaryNode {
                                prefix: -,
                                base: 1,
                            },
                        ),
                    },
                ],
                span: 87..93,
            },
            span: 86..94,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: Some(
                            UnaryNode {
                                prefix: -,
                                base: 2,
                            },
                        ),
                        step: None,
                    },
                ],
                span: 96..102,
            },
            span: 95..103,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Range {
                        head: Some(
                            2,
                        ),
                        tail: None,
                        step: None,
                    },
                ],
                span: 105..110,
            },
            span: 104..111,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: a,
                monadic: false,
                terms: [
                    Index {
                        index: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 1,
                        },
                    },
                ],
                span: 113..120,
            },
            span: 112..121,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: +,
                lhs: SubscriptCallNode {
                    kind: Ordinal,
                    base: b,
                    monadic: false,
                    terms: [
                        Index {
                            index: InfixNode {
                                infix: +,
                                lhs: 1,
                                rhs: 1,
                            },
                        },
                    ],
                    span: 123..130,
                },
                rhs: 1,
            },
            span: 122..135,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: c,
                monadic: false,
                terms: [
                    Index {
                        index: 1,
                    },
                    Index {
                        index: 2,
                    },
                    Index {
                        index: 3,
                    },
                ],
                span: 137..144,
            },
            span: 136..145,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: d,
                monadic: false,
                terms: [
                    Index {
                        index: RangeNode {
                            kind: Offset,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 148..155,
                        },
                    },
                ],
                span: 147..156,
            },
            span: 146..157,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: e,
                monadic: false,
                terms: [
                    Range {
                        head: Some(
                            1,
                        ),
                        tail: Some(
                            2,
                        ),
                        step: Some(
                            3,
                        ),
                    },
                    Index {
                        index: RangeNode {
                            kind: Offset,
                            terms: [
                                Index {
                                    index: 1,
                                },
                                Index {
                                    index: 2,
                                },
                                Index {
                                    index: 3,
                                },
                            ],
                            span: 166..173,
                        },
                    },
                ],
                span: 159..174,
            },
            span: 158..175,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: SubscriptCallNode {
                    kind: Ordinal,
                    base: SubscriptCallNode {
                        kind: Ordinal,
                        base: array,
                        monadic: false,
                        terms: [],
                        span: 192..194,
                    },
                    monadic: false,
                    terms: [
                        Range {
                            head: None,
                            tail: None,
                            step: None,
                        },
                    ],
                    span: 194..197,
                },
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                ],
                span: 197..201,
            },
            span: 187..202,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: array,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                ],
                span: 208..213,
            },
            span: 203..214,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: array,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Index {
                        index: 1,
                    },
                    Range {
                        head: None,
                        tail: Some(
                            index0,
                        ),
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: Some(
                            UnaryNode {
                                prefix: -,
                                base: 1,
                            },
                        ),
                    },
                    Index {
                        index: i∷j,
                    },
                    Range {
                        head: Some(
                            i,
                        ),
                        tail: None,
                        step: Some(
                            j,
                        ),
                    },
                ],
                span: 220..264,
            },
            span: 215..265,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: SubscriptCallNode {
                    kind: Ordinal,
                    base: SubscriptCallNode {
                        kind: Ordinal,
                        base: array,
                        monadic: false,
                        terms: [],
                        span: 282..288,
                    },
                    monadic: false,
                    terms: [
                        Range {
                            head: None,
                            tail: None,
                            step: None,
                        },
                    ],
                    span: 288..295,
                },
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                ],
                span: 295..303,
            },
            span: 277..304,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: array,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                ],
                span: 310..319,
            },
            span: 305..320,
        },
        ExpressionNode {
            omit: true,
            body: SubscriptCallNode {
                kind: Ordinal,
                base: array,
                monadic: false,
                terms: [
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: None,
                    },
                    Index {
                        index: 1,
                    },
                    Range {
                        head: None,
                        tail: Some(
                            index0,
                        ),
                        step: None,
                    },
                    Range {
                        head: None,
                        tail: None,
                        step: Some(
                            UnaryNode {
                                prefix: -,
                                base: 1,
                            },
                        ),
                    },
                    Index {
                        index: i∷j,
                    },
                    Range {
                        head: Some(
                            i,
                        ),
                        tail: None,
                        step: Some(
                            j,
                        ),
                    },
                ],
                span: 326..374,
            },
            span: 321..375,
        },
    ],
}