ProgramRoot {
    statements: [
        ExpressionNode {
            omit: true,
            body: 1,
            span: 1..5,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: +,
                lhs: 1,
                rhs: 2,
            },
            span: 6..14,
        },
        ExpressionNode {
            omit: true,
            body: TupleNode {
                kind: Tuple,
                terms: [
                    TupleTermNode {
                        key: Nothing,
                        value: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 2,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: 3,
                    },
                ],
                span: 15..26,
            },
            span: 15..27,
        },
        ExpressionNode {
            omit: true,
            body: TupleNode {
                kind: Tuple,
                terms: [
                    TupleTermNode {
                        key: Nothing,
                        value: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 2,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: 3,
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [],
                            span: 39..41,
                        },
                    },
                ],
                span: 28..42,
            },
            span: 28..43,
        },
        ExpressionNode {
            omit: true,
            body: TupleNode {
                kind: Tuple,
                terms: [
                    TupleTermNode {
                        key: Nothing,
                        value: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 2,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: 3,
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [
                                TupleTermNode {
                                    key: Nothing,
                                    value: 4,
                                },
                                TupleTermNode {
                                    key: Nothing,
                                    value: 5,
                                },
                            ],
                            span: 55..61,
                        },
                    },
                ],
                span: 44..62,
            },
            span: 44..63,
        },
        ExpressionNode {
            omit: true,
            body: TupleNode {
                kind: Tuple,
                terms: [
                    TupleTermNode {
                        key: Nothing,
                        value: InfixNode {
                            infix: +,
                            lhs: 1,
                            rhs: 2,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: 3,
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [
                                TupleTermNode {
                                    key: Nothing,
                                    value: 4,
                                },
                                TupleTermNode {
                                    key: Nothing,
                                    value: 5,
                                },
                                TupleTermNode {
                                    key: Nothing,
                                    value: TupleNode {
                                        kind: Tuple,
                                        terms: [],
                                        span: 82..84,
                                    },
                                },
                            ],
                            span: 75..85,
                        },
                    },
                ],
                span: 64..86,
            },
            span: 64..87,
        },
        ExpressionNode {
            omit: true,
            body: TupleNode {
                kind: Tuple,
                terms: [
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [],
                            span: 89..91,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [],
                            span: 94..96,
                        },
                    },
                    TupleTermNode {
                        key: Nothing,
                        value: TupleNode {
                            kind: Tuple,
                            terms: [
                                TupleTermNode {
                                    key: Nothing,
                                    value: TupleNode {
                                        kind: Tuple,
                                        terms: [],
                                        span: 100..102,
                                    },
                                },
                                TupleTermNode {
                                    key: Nothing,
                                    value: TupleNode {
                                        kind: Tuple,
                                        terms: [],
                                        span: 105..107,
                                    },
                                },
                            ],
                            span: 99..109,
                        },
                    },
                ],
                span: 88..110,
            },
            span: 88..111,
        },
    ],
}