1
InfixNode {
    infix: +,
    lhs: 1,
    rhs: 2,
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: InfixNode {
                infix: +,
                lhs: 1,
                rhs: 2,
            },
        },
        TupleTermNode {
            key: None,
            value: 3,
        },
    ],
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: InfixNode {
                infix: +,
                lhs: 1,
                rhs: 2,
            },
        },
        TupleTermNode {
            key: None,
            value: 3,
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [],
            },
        },
    ],
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: InfixNode {
                infix: +,
                lhs: 1,
                rhs: 2,
            },
        },
        TupleTermNode {
            key: None,
            value: 3,
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [
                    TupleTermNode {
                        key: None,
                        value: 4,
                    },
                    TupleTermNode {
                        key: None,
                        value: 5,
                    },
                ],
            },
        },
    ],
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: InfixNode {
                infix: +,
                lhs: 1,
                rhs: 2,
            },
        },
        TupleTermNode {
            key: None,
            value: 3,
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [
                    TupleTermNode {
                        key: None,
                        value: 4,
                    },
                    TupleTermNode {
                        key: None,
                        value: 5,
                    },
                    TupleTermNode {
                        key: None,
                        value: Tuple {
                            terms: [],
                        },
                    },
                ],
            },
        },
    ],
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [],
            },
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [],
            },
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [
                    TupleTermNode {
                        key: None,
                        value: Tuple {
                            terms: [],
                        },
                    },
                    TupleTermNode {
                        key: None,
                        value: Tuple {
                            terms: [],
                        },
                    },
                ],
            },
        },
    ],
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [],
    span: 137..139,
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [],
    span: 146..152,
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [
        Index {
            index: 0,
        },
    ],
    span: 159..162,
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [
        Index {
            index: 1,
        },
    ],
    span: 169..176,
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Index {
            index: 1,
        },
        Range {
            head: None,
            tail: Some(
                index0,
            ),
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: Some(
                UnaryNode {
                    prefix: -,
                    base: 1,
                },
            ),
        },
        Index {
            index: i∷j,
        },
        Range {
            head: Some(
                i,
            ),
            tail: None,
            step: Some(
                j,
            ),
        },
    ],
    span: 183..227,
}
SubscriptCallNode {
    kind: Ordinal,
    base: array,
    monadic: false,
    terms: [
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: None,
        },
        Index {
            index: 1,
        },
        Range {
            head: None,
            tail: Some(
                index0,
            ),
            step: None,
        },
        Range {
            head: None,
            tail: None,
            step: Some(
                UnaryNode {
                    prefix: -,
                    base: 1,
                },
            ),
        },
        Index {
            index: i∷j,
        },
        Range {
            head: Some(
                i,
            ),
            tail: None,
            step: Some(
                j,
            ),
        },
    ],
    span: 234..282,
}
Tuple {
    terms: [
        TupleTermNode {
            key: None,
            value: v,
        },
        TupleTermNode {
            key: None,
            value: Tuple {
                terms: [],
            },
        },
        TupleTermNode {
            key: None,
            value: InfixNode {
                infix: +,
                lhs: v,
                rhs: 1,
            },
        },
        TupleTermNode {
            key: Some(
                Identifier("a", 321..322),
            ),
            value: Tuple {
                terms: [],
            },
        },
        TupleTermNode {
            key: Some(
                Identifier("b", 332..333),
            ),
            value: InfixNode {
                infix: +,
                lhs: v,
                rhs: 2,
            },
        },
        TupleTermNode {
            key: None,
            value: UnaryNode {
                prefix: ⁑,
                base: args,
            },
        },
        TupleTermNode {
            key: None,
            value: UnaryNode {
                prefix: ⁂,
                base: kwargs,
            },
        },
    ],
}
