NamespaceDeclaration {
    kind: Standalone,
    path: declaration∷classes,
}
DefineClass {
    name: Base1,
    span: 33..49,
}
DefineClass {
    name: Base2,
    span: 49..67,
}
DefineStructure {
    name: Base3,
    span: 67..89,
}
DefineClass {
    annotations: Annotation {
        modifiers: [
            value,
        ],
    },
    name: B,
    span: 89..113,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 114..162,
            },
        ],
    },
    name: Inherit1,
    span: 113..219,
}
DefineClass {
    name: Inherit2,
    terms: [
        Field {
            name: virtual,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    inherit,
                ],
            },
            name: base1,
            type: Base1,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    inherit,
                ],
            },
            name: base2,
            type: Base2,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    inherit,
                ],
            },
            name: base3,
            type: Base3,
        },
    ],
    span: 219..329,
}
DefineClass {
    name: B,
    terms: [
        Field {
            name: item1,
            type: UnaryNode {
                prefix: !,
                base: T,
            },
        },
        Field {
            name: item2,
            type: UnaryNode {
                prefix: !,
                base: U,
            },
        },
    ],
    span: 329..392,
}
DefineClass {
    name: A,
    terms: [
        Method {
            annotations: Annotation {
                modifiers: [
                    pub,
                    static,
                ],
            },
            name: a,
            returns: GenericCallNode {
                monadic: false,
                base: InfixNode {
                    infix: +,
                    lhs: GenericCallNode {
                        monadic: false,
                        base: Ref,
                        term: [
                            ArgumentTerm {
                                key: Nothing,
                                value: B,
                            },
                        ],
                        span: 448..455,
                    },
                    rhs: Gc,
                },
                term: [
                    ArgumentTerm {
                        key: Nothing,
                        value: D,
                    },
                ],
                span: 460..463,
            },
            body: [
                Control {
                    kind: Return,
                    expression: 1,
                    span: 474..482,
                },
            ],
            span: 429..488,
        },
        Field {
            name: _a,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    get,
                ],
            },
            name: a,
            body: [
                ApplyCallNode {
                    monadic: false,
                    caller: violate,
                    arguments: [],
                    body: None,
                    span: 526..567,
                },
                Control {
                    kind: Return,
                    expression: _a,
                    span: 576..585,
                },
            ],
            span: 501..591,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    set,
                ],
            },
            name: a,
            body: [
                InfixNode {
                    infix: =,
                    lhs: _a,
                    rhs: value,
                },
            ],
            span: 596..630,
        },
        Method {
            name: into,
            generics: [
                Parameter {
                    key: "bool",
                },
            ],
            body: [],
            span: 635..659,
        },
    ],
    span: 392..673,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: Copy,
                variant: [],
                arguments: [],
                domain: None,
                span: 675..686,
            },
            AttributeTerm {
                kind: Normal,
                path: Debug,
                variant: [],
                arguments: [],
                domain: None,
                span: 688..693,
            },
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 704..732,
            },
        ],
    },
    name: A,
    span: 673..753,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: Encode,
                variant: [],
                arguments: [],
                domain: None,
                span: 754..761,
            },
            AttributeTerm {
                kind: Normal,
                path: Decode,
                variant: [],
                arguments: [],
                domain: None,
                span: 762..769,
            },
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 771..801,
            },
        ],
        modifiers: [
            public,
            static,
            dynamic_transaction_safe,
            volatile,
            final,
        ],
    },
    name: Empty3,
    span: 753..883,
}
DefineClass {
    annotations: Annotation {
        modifiers: [
            open,
            impart,
        ],
    },
    name: Inherit1,
    span: 883..950,
}
DefineClass {
    annotations: Annotation {
        modifiers: [
            open,
            impart,
        ],
    },
    name: Inherit2,
    terms: [
        Field {
            annotations: Annotation {
                modifiers: [
                    public,
                ],
            },
            name: virtual,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    inherit,
                ],
            },
            name: x_base,
            type: XBase,
        },
        Field {
            name: private,
        },
        Field {
            name: inline,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    inherit,
                ],
            },
            name: _y_base,
            type: YBase,
        },
        Method {
            name: constructor,
            body: [],
            span: 1077..1099,
        },
    ],
    span: 950..1103,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 1104..1143,
            },
        ],
    },
    name: 原神,
    terms: [
        Method {
            name: 启动,
            parameters: [
                Parameter {
                    key: "self",
                },
            ],
            returns: Unit,
            body: [
                shell'F:\\Games\\Genshin Impact\\UnityCrashHandler64.exe',
            ],
            span: 1200..1289,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    get,
                ],
            },
            name: value,
            returns: Integer,
            body: [
                _integer,
            ],
            span: 1294..1339,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    set,
                ],
            },
            name: value,
            body: [
                _integer,
            ],
            span: 1344..1380,
        },
    ],
    span: 1103..1384,
}
DefineClass {
    name: ClassA,
    terms: [
        Field {
            annotations: Annotation {
                modifiers: [
                    public,
                    static,
                ],
            },
            name: type,
            type: String,
            default: 'item',
        },
        Field {
            name: unknown_all,
        },
        Field {
            name: default_value,
            type: A,
        },
        Field {
            name: infer_type,
            default: null,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    get,
                ],
            },
            name: property,
            body: [],
            span: 1508..1525,
        },
        Method {
            annotations: Annotation {
                modifiers: [
                    set,
                ],
            },
            name: property,
            body: [],
            span: 1531..1548,
        },
        Method {
            name: method,
            span: 1554..1562,
        },
        Method {
            annotations: Annotation {
                attributes: [
                    AttributeTerm {
                        kind: Normal,
                        path: decorator,
                        variant: [],
                        arguments: [],
                        domain: None,
                        span: 1571..1585,
                    },
                ],
                modifiers: [
                    infix,
                ],
            },
            name: /,
            parameters: [
                Parameter {
                    key: "self",
                },
                Parameter {
                    key: "rhs",
                    bound: Self,
                },
            ],
            returns: Self,
            body: [
                Control {
                    kind: Return,
                    expression: InfixNode {
                        infix: /,
                        lhs: self,
                        rhs: rhs,
                    },
                    span: 1641..1658,
                },
            ],
            span: 1570..1664,
        },
        Method {
            annotations: Annotation {
                attributes: [
                    AttributeTerm {
                        kind: Normal,
                        path: inline,
                        variant: [],
                        arguments: [],
                        domain: None,
                        span: 1670..1681,
                    },
                ],
            },
            name: join,
            generics: [
                Parameter {
                    key: "T",
                },
            ],
            parameters: [
                Parameter {
                    key: "self",
                    annotations: Annotation {
                        modifiers: [
                            mut,
                        ],
                    },
                    bound: T,
                },
                Parameter {
                    key: "other",
                    bound: T,
                },
            ],
            returns: T,
            body: [
                Control {
                    kind: Return,
                    expression: ApplyCallNode {
                        monadic: false,
                        caller: DotCallNode {
                            monadic: false,
                            base: self,
                            term: append,
                            span: 1742..1749,
                        },
                        arguments: [
                            ArgumentTerm {
                                key: Nothing,
                                value: other,
                            },
                        ],
                        body: None,
                        span: 1749..1756,
                    },
                    span: 1731..1756,
                },
            ],
            span: 1669..1762,
        },
    ],
    span: 1384..1766,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 1767..1806,
            },
        ],
    },
    name: TestClass,
    span: 1766..1828,
}
DefineClass {
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: derive,
                variant: [],
                arguments: [],
                domain: None,
                span: 1829..1859,
            },
        ],
    },
    name: Class,
    terms: [
        Field {
            annotations: Annotation {
                attributes: [
                    AttributeTerm {
                        kind: Normal,
                        path: call,
                        variant: [],
                        arguments: [],
                        domain: None,
                        span: 1885..1894,
                    },
                ],
                modifiers: [
                    readonly,
                ],
            },
            name: field1,
            type: u32,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    readonly,
                ],
            },
            name: field 2,
            type: f64,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    class,
                    static,
                    void,
                ],
            },
            name: main,
        },
        Field {
            annotations: Annotation {
                modifiers: [
                    mut,
                ],
            },
            name: fields,
            type: T,
        },
        Method {
            annotations: Annotation {
                attributes: [
                    AttributeTerm {
                        kind: Normal,
                        path: call1,
                        variant: [],
                        arguments: [],
                        domain: None,
                        span: 2034..2044,
                    },
                    AttributeTerm {
                        kind: Normal,
                        path: call2,
                        variant: [],
                        arguments: [],
                        domain: None,
                        span: 2045..2055,
                    },
                ],
            },
            name: try_add,
            parameters: [
                Parameter {
                    key: "self",
                    annotations: Annotation {
                        modifiers: [
                            mut,
                        ],
                    },
                },
                Parameter {
                    key: "args",
                },
            ],
            body: [
                block,
            ],
            span: 2033..2108,
        },
    ],
    span: 1828..2112,
}
