ProgramNode {
    statement: [
        DefineClass(
            DefineClassNode {
                attribute_call: [],
                class_block: ClassBlockNode {
                    class_block_item: [],
                    span: 8..10,
                },
                class_inherit: None,
                define_template: None,
                identifier: IdentifierBare(
                    IdentifierBareNode {
                        text: "A",
                        span: 6..7,
                    },
                ),
                kw_class: Class,
                modifier_call: [],
                span: 0..12,
            },
        ),
        DefineClass(
            DefineClassNode {
                attribute_call: [],
                class_block: ClassBlockNode {
                    class_block_item: [],
                    span: 22..24,
                },
                class_inherit: Some(
                    ClassInheritNode {
                        class_inherit_item: [],
                        span: 19..21,
                    },
                ),
                define_template: None,
                identifier: IdentifierBare(
                    IdentifierBareNode {
                        text: "B",
                        span: 18..19,
                    },
                ),
                kw_class: Class,
                modifier_call: [],
                span: 12..24,
            },
        ),
    ],
    span: 0..24,
}