ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: extension,
                arguments: ArgumentsList {
                    terms: [],
                },
                body: None,
                span: 10..15,
            },
            span: 1..17,
        },
    ],
}