ProgramRoot {
    statements: [
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Exclusive,
            name: Identifier("Empty1", 10..16),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 0..19,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("Terms1", 27..33),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 21..61,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("Terms2", 68..74),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 62..104,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("Terms3", 111..117),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 105..191,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("Terms4", 198..204),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 192..260,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("Extend1", 279..286),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 261..337,
        },
        FlagDeclaration {
            documentation: DocumentationNode {
                documentation: "",
                span: 0..0,
            },
            kind: Juxtapose,
            name: Identifier("ManyFlags", 345..354),
            modifiers: [],
            layout: None,
            implements: [],
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
            span: 339..445,
        },
    ],
}