ProgramRoot {
    statements: [
        FlagDeclaration {
            name: Identifier("Empty1", 10..16),
            kind: Exclusive,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 0..19,
        },
        FlagDeclaration {
            name: Identifier("Terms1", 27..33),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 21..61,
        },
        FlagDeclaration {
            name: Identifier("Terms2", 68..74),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 62..104,
        },
        FlagDeclaration {
            name: Identifier("Terms3", 111..117),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 105..191,
        },
        FlagDeclaration {
            name: Identifier("Terms4", 198..204),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 192..260,
        },
        FlagDeclaration {
            name: Identifier("Extend1", 279..286),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 261..337,
        },
        FlagDeclaration {
            name: Identifier("ManyFlags", 345..354),
            kind: Juxtapose,
            annotations: Empty,
            layout: None,
            implements: [],
            body: [],
            span: 339..445,
        },
    ],
}