ProgramRoot {
    statements: [
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("fun1", 6..10),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("fun2", 25..29),
                ],
            },
            kind: Macro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("fun3", 51..55),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("fun4", 119..123),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("outer", 201..206),
                ],
            },
            kind: Macro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: String,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("main", 421..425),
                ],
            },
            kind: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("public", 395..401),
                    Identifier("static", 402..408),
                    Identifier("final", 409..414),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: int,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("name", 512..516),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("package", 533..540),
                    Identifier("module", 542..548),
                    Identifier("function", 550..560),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("return_self", 1342..1353),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: Equirecursive,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("progress", 1396..1404),
                ],
            },
            kind: Macro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("package", 1449..1456),
                    Identifier("path", 1458..1462),
                    Identifier("range", 1464..1469),
                ],
            },
            kind: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("inline", 1433..1439),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: Range,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("name", 1653..1657),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        ClassDeclaration {
            name: Identifier("TClass", 1752..1758),
            kind: Class,
            annotations: Empty,
            generic: None,
            base_classes: None,
            auto_traits: [],
            terms: [
                FieldDeclaration {
                    name: Identifier("fields", 1765..1771),
                    document: DocumentationNode {
                        documentation: "",
                        span: 0..0,
                    },
                    modifiers: ModifierList {
                        terms: [],
                    },
                    typing: None,
                    default: None,
                    span: 1765..1771,
                },
            ],
            span: 1715..1776,
        },
        ExtendsStatement {
            methods: [],
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("name", 1830..1834),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("print", 1894..1899),
                ],
            },
            kind: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("public", 1857..1863),
                    Identifier("static", 1864..1870),
                    Identifier("void", 1871..1875),
                    Identifier("fun", 1876..1879),
                    Identifier("main", 1880..1884),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("main", 2069..2073),
                ],
            },
            kind: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("public", 2032..2038),
                    Identifier("static", 2039..2045),
                    Identifier("void", 2046..2050),
                    Identifier("fun", 2051..2054),
                    Identifier("main", 2055..2059),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
    ],
}