ProgramRoot {
    statements: [
        NamespaceDeclaration {
            kind: Unique,
            path: test∷import,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 24..30,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 31..41,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 43..55,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 55..73,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 73..102,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 102..115,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 115..129,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 129..145,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 145..161,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 161..355,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 355..376,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 377..406,
        },
        ImportStatement {
            annotation: AnnotationList {
                kind: Normal,
                terms: [],
                span: 0..0,
            },
            term: Group(
                ImportGroupNode {
                    path: NamePathNode {
                        names: [],
                    },
                    group: [],
                },
            ),
            span: 407..461,
        },
    ],
}