macro
ApplyCallNode {
    monadic: false,
    caller: a,
    arguments: ArgumentsList {
        terms: [],
    },
    body: None,
    span: 7..105,
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("A", 186..187),
        ],
    },
    kind: Macro,
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: NamePathNode {
                    names: [
                        Identifier("derive", 124..130),
                    ],
                },
                variant: [],
                arguments: ArgumentsList {
                    terms: [],
                },
                domain: None,
            },
        ],
        modifiers: [
            derived,
        ],
    },
    generics: [],
    parameters: [],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("print", 215..220),
        ],
    },
    kind: Macro,
    annotations: Annotation {
        modifiers: [
            implicit,
        ],
    },
    generics: [],
    parameters: [],
    returns: Auto,
    body: [],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("name", 234..238),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [
        Single {
            annotations: Empty,
            key: Identifier("G", 242..243),
            bound: None,
            default: None,
        },
        Single {
            annotations: Empty,
            key: Identifier("R", 245..246),
            bound: None,
            default: None,
        },
    ],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("g", 251..252),
            bound: Some(
                G,
            ),
            default: None,
        },
    ],
    returns: ReturnType {
        main: R,
    },
    body: [
        InfixNode {
            infix: +,
            lhs: 1,
            rhs: 1,
        },
        InfixNode {
            infix: ∈,
            lhs: a,
            rhs: b,
        },
        ApplyCallNode {
            monadic: false,
            caller: print,
            arguments: ArgumentsList {
                terms: [
                    TupleTermNode {
                        key: None,
                        value: 'Hello, world!',
                    },
                ],
            },
            body: None,
            span: 294..311,
        },
    ],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("outer", 322..327),
        ],
    },
    kind: Macro,
    annotations: Empty,
    generics: [
        Single {
            annotations: Empty,
            key: Identifier("L", 331..332),
            bound: None,
            default: None,
        },
    ],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("lhs", 337..340),
            bound: Some(
                L,
            ),
            default: None,
        },
    ],
    returns: ReturnType {
        main: String,
    },
    body: [
        let,
        mut,
        InfixNode {
            infix: =,
            lhs: count,
            rhs: 0,
        },
    ],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("inner", 393..398),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [
        Single {
            annotations: Empty,
            key: Identifier("R", 402..403),
            bound: None,
            default: None,
        },
    ],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("rhs", 408..411),
            bound: Some(
                R,
            ),
            default: None,
        },
    ],
    returns: Auto,
    body: [
        WhileLoop {
            kind: While,
            condition: Unconditional,
            then: [
                InfixNode {
                    infix: +=,
                    lhs: count,
                    rhs: 1,
                },
                ApplyCallNode {
                    monadic: false,
                    caller: print,
                    arguments: ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: None,
                                value: '{lhs} {rhs}',
                            },
                        ],
                    },
                    body: None,
                    span: 473..488,
                },
            ],
            span: 422..499,
        },
        '{count}',
    ],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("main", 538..542),
        ],
    },
    kind: Micro,
    annotations: Annotation {
        modifiers: [
            public,
            static,
            final,
        ],
    },
    generics: [],
    parameters: [
        Single {
            annotations: Empty,
            key: Identifier("args", 547..551),
            bound: Some(
                GenericCallNode {
                    monadic: false,
                    base: List,
                    terms: ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: None,
                                value: String,
                            },
                        ],
                    },
                    associated: [],
                    span: 557..569,
                },
            ),
            default: None,
        },
    ],
    returns: ReturnType {
        main: Int,
    },
    body: [
        ApplyCallNode {
            monadic: false,
            caller: ApplyCallNode {
                monadic: false,
                caller: outer,
                arguments: ArgumentsList {
                    terms: [
                        TupleTermNode {
                            key: None,
                            value: 'Hello',
                        },
                    ],
                },
                body: None,
                span: 589..598,
            },
            arguments: ArgumentsList {
                terms: [
                    TupleTermNode {
                        key: None,
                        value: 'world',
                    },
                ],
            },
            body: None,
            span: 598..607,
        },
        Control {
            kind: Return,
            expression: 0,
            span: 612..620,
        },
    ],
}
