ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: macro,
            span: 0..6,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: a,
                arguments: ArgumentsList {
                    terms: [],
                },
                body: None,
                span: 7..105,
            },
            span: 6..123,
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("A", 186..187),
                ],
            },
            kind: Macro,
            annotations: Annotation {
                modifiers: [
                    Identifier("derived", 172..179),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("print", 215..220),
                ],
            },
            kind: Macro,
            annotations: Annotation {
                modifiers: [
                    Identifier("implicit", 200..208),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("name", 234..238),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: R,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("outer", 322..327),
                ],
            },
            kind: Macro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: String,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("inner", 393..398),
                ],
            },
            kind: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: Auto,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            name: NamePathNode {
                names: [
                    Identifier("main", 538..542),
                ],
            },
            kind: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("public", 512..518),
                    Identifier("static", 519..525),
                    Identifier("final", 526..531),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: ReturnType {
                main: Int,
            },
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
    ],
}