ProgramRoot {
    statements: [
        NamespaceDeclaration {
            kind: Unique,
            path: std,
        },
        NamespaceDeclaration {
            kind: Shared,
            path: std∷string,
        },
        NamespaceDeclaration {
            kind: Test,
            path: std∷integer,
        },
        NamespaceDeclaration {
            kind: Unique,
            path: std∷decimal,
        },
    ],
}