ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: type,
            span: 0..5,
        },
        ExpressionNode {
            omit: true,
            body: GenericCallNode {
                monadic: false,
                base: InfixNode {
                    infix: =,
                    lhs: GenericCallNode {
                        monadic: false,
                        base: Result,
                        terms: ArgumentsList {
                            terms: [
                                TupleTermNode {
                                    key: None,
                                    value: T,
                                },
                            ],
                        },
                        associated: [],
                        span: 11..19,
                    },
                    rhs: std∷result∷Result,
                },
                terms: ArgumentsList {
                    terms: [
                        TupleTermNode {
                            key: None,
                            value: T,
                        },
                        TupleTermNode {
                            key: None,
                            value: Error,
                        },
                    ],
                },
                associated: [],
                span: 40..54,
            },
            span: 5..55,
        },
        ExpressionNode {
            omit: false,
            body: type,
            span: 59..64,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: GenericCallNode {
                    monadic: false,
                    base: List,
                    terms: ArgumentsList {
                        terms: [
                            TupleTermNode {
                                key: None,
                                value: UnaryNode {
                                    prefix: +,
                                    base: T,
                                },
                            },
                            TupleTermNode {
                                key: None,
                                value: UnaryNode {
                                    prefix: -,
                                    base: A,
                                },
                            },
                        ],
                    },
                    associated: [],
                    span: 68..81,
                },
                arguments: ArgumentsList {
                    terms: [],
                },
                body: None,
                span: 81..85,
            },
            span: 64..88,
        },
        ExpressionNode {
            omit: false,
            body: alias,
            span: 88..94,
        },
        ExpressionNode {
            omit: true,
            body: InfixNode {
                infix: =,
                lhs: InfixNode {
                    infix: ∈,
                    lhs: type,
                    rhs: t,
                },
                rhs: Integer,
            },
            span: 94..113,
        },
        ClassDeclaration {
            name: Identifier("Integer", 121..128),
            kind: Class,
            annotations: Empty,
            generic: None,
            base_classes: None,
            auto_traits: [],
            terms: [
                DomainDeclaration {
                    body: [
                        MethodDeclaration {
                            document: DocumentationNode {
                                documentation: "",
                                span: 0..0,
                            },
                            modifiers: ModifierList {
                                terms: [],
                            },
                            method_name: NamePathNode {
                                names: [
                                    Identifier("requires", 165..173),
                                ],
                            },
                            generic: None,
                            arguments: ArgumentsList {
                                terms: [],
                            },
                            return_type: None,
                            effect_type: None,
                            body: None,
                            span: 165..209,
                        },
                        MethodDeclaration {
                            document: DocumentationNode {
                                documentation: "",
                                span: 0..0,
                            },
                            modifiers: ModifierList {
                                terms: [],
                            },
                            method_name: NamePathNode {
                                names: [
                                    Identifier("ensures", 218..225),
                                ],
                            },
                            generic: None,
                            arguments: ArgumentsList {
                                terms: [],
                            },
                            return_type: None,
                            effect_type: None,
                            body: None,
                            span: 218..240,
                        },
                    ],
                    span: 148..246,
                },
            ],
            span: 115..251,
        },
        FunctionDeclaration {
            namepath: NamePathNode {
                names: [
                    Identifier("five", 260..264),
                ],
            },
            type: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            namepath: NamePathNode {
                names: [
                    Identifier("tuple", 348..353),
                ],
            },
            type: Micro,
            annotations: Empty,
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
        FunctionDeclaration {
            namepath: NamePathNode {
                names: [
                    Identifier("all_zeroes", 416..426),
                ],
            },
            type: Micro,
            annotations: Annotation {
                modifiers: [
                    Identifier("predicate", 397..406),
                ],
            },
            generic: None,
            arguments: ArgumentsList {
                terms: [],
            },
            return: None,
            body: StatementBlock {
                terms: [],
                span: 0..0,
            },
        },
    ],
}