type
GenericCallNode {
    monadic: false,
    base: InfixNode {
        infix: =,
        lhs: GenericCallNode {
            monadic: false,
            base: Result,
            term: [
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: T,
                },
            ],
            span: 11..19,
        },
        rhs: std∷result∷Result,
    },
    term: [
        ArgumentTerm {
            modifiers: [],
            key: Nothing,
            value: T,
        },
        ArgumentTerm {
            modifiers: [],
            key: Nothing,
            value: Error,
        },
    ],
    span: 40..54,
}
type
ApplyCallNode {
    monadic: false,
    caller: GenericCallNode {
        monadic: false,
        base: List,
        term: [
            ArgumentTerm {
                modifiers: [],
                key: Nothing,
                value: UnaryNode {
                    prefix: +,
                    base: T,
                },
            },
            ArgumentTerm {
                modifiers: [],
                key: Nothing,
                value: UnaryNode {
                    prefix: -,
                    base: A,
                },
            },
        ],
        span: 68..81,
    },
    arguments: [],
    body: None,
    span: 81..85,
}
alias
InfixNode {
    infix: =,
    lhs: InfixNode {
        infix: ∈,
        lhs: type,
        rhs: t,
    },
    rhs: Integer,
}
Class {
    name: Integer,
    terms: [
        DomainDeclaration {
            annotations: Empty,
            body: [],
            span: 148..246,
        },
    ],
    span: 115..251,
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("five", 260..264),
        ],
    },
    kind: Micro,
    annotations: Empty,
    generics: [],
    parameters: [],
    returns: ReturnType {
        main: i32,
    },
    body: [
        5,
    ],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("tuple", 348..353),
        ],
    },
    kind: Micro,
    annotations: Annotation {
        attributes: [
            AttributeTerm {
                kind: Normal,
                path: NamePathNode {
                    names: [
                        Identifier("ensures", 285..292),
                    ],
                },
                variant: [],
                arguments: [],
                domain: None,
                span: 285..337,
            },
        ],
    },
    generics: [],
    parameters: [],
    returns: ReturnType {
        main: Tuple {
            terms: [
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: i32,
                },
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: i32,
                },
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: char,
                },
            ],
        },
    },
    body: [
        Tuple {
            terms: [
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: 10,
                },
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: 5,
                },
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: 'a',
                },
            ],
        },
    ],
}
FunctionDeclaration {
    name: NamePathNode {
        names: [
            Identifier("all_zeroes", 416..426),
        ],
    },
    kind: Micro,
    annotations: Annotation {
        modifiers: [
            predicate,
        ],
    },
    generics: [],
    parameters: [
        Parameter {
            key: "a",
            bound: UnaryNode {
                prefix: &,
                base: MyArray,
            },
        },
    ],
    returns: ReturnType {
        main: bool,
    },
    body: [
        ApplyCallNode {
            monadic: false,
            caller: forall,
            arguments: [
                ArgumentTerm {
                    modifiers: [],
                    key: Nothing,
                    value: LambdaNode {
                        annotations: Empty,
                        generics: [],
                        parameters: [
                            Parameter {
                                key: "i",
                                bound: usize,
                            },
                        ],
                        returns: Auto,
                        body: [
                            InfixNode {
                                infix: ==,
                                lhs: ApplyCallNode {
                                    monadic: false,
                                    caller: DotCallNode {
                                        monadic: false,
                                        base: InfixNode {
                                            infix: ∧,
                                            lhs: ApplyCallNode {
                                                monadic: false,
                                                caller: DotCallNode {
                                                    monadic: false,
                                                    base: InfixNode {
                                                        infix: ∧,
                                                        lhs: InfixNode {
                                                            infix: ⩽,
                                                            lhs: 0,
                                                            rhs: i,
                                                        },
                                                        rhs: InfixNode {
                                                            infix: <,
                                                            lhs: i,
                                                            rhs: a,
                                                        },
                                                    },
                                                    term: len,
                                                    span: 503..507,
                                                },
                                                arguments: [],
                                                body: None,
                                                span: 507..509,
                                            },
                                            rhs: a,
                                        },
                                        term: lookup,
                                        span: 514..521,
                                    },
                                    arguments: [
                                        ArgumentTerm {
                                            modifiers: [],
                                            key: Nothing,
                                            value: i,
                                        },
                                    ],
                                    body: None,
                                    span: 521..524,
                                },
                                rhs: 0,
                            },
                        ],
                        span: 461..535,
                    },
                },
            ],
            body: None,
            span: 460..536,
        },
    ],
}
