NamespaceDeclaration {
    kind: Standalone,
    path: std∷create∷test,
}
UnionDeclaration {
    annotations: Annotation {
        attributes: AttributeList {
            terms: [
                AttributeTerm {
                    kind: Normal,
                    path: NamePathNode {
                        names: [
                            Identifier("tag", 101..104),
                        ],
                    },
                    variant: [],
                    arguments: ArgumentsList {
                        terms: [],
                    },
                    domain: None,
                },
            ],
        },
    },
    name: Identifier("Union1", 111..117),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 100..120,
}
UnionDeclaration {
    annotations: Annotation {
        attributes: AttributeList {
            terms: [
                AttributeTerm {
                    kind: Normal,
                    path: NamePathNode {
                        names: [
                            Identifier("tag", 151..154),
                        ],
                    },
                    variant: [],
                    arguments: ArgumentsList {
                        terms: [],
                    },
                    domain: None,
                },
            ],
        },
    },
    name: Identifier("Union2", 167..173),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 150..242,
}
UnionDeclaration {
    annotations: Annotation {
        attributes: AttributeList {
            terms: [
                AttributeTerm {
                    kind: Normal,
                    path: NamePathNode {
                        names: [
                            Identifier("tag", 276..279),
                        ],
                    },
                    variant: [],
                    arguments: ArgumentsList {
                        terms: [],
                    },
                    domain: None,
                },
            ],
        },
    },
    name: Identifier("Union3", 293..299),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 275..402,
}
UnionDeclaration {
    annotations: Empty,
    name: Identifier("Union4", 410..416),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 404..603,
}
UnionDeclaration {
    annotations: Empty,
    name: Identifier("A", 636..637),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 630..683,
}
UnionDeclaration {
    annotations: Empty,
    name: Identifier("Option", 710..716),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 704..820,
}
UnionDeclaration {
    annotations: Empty,
    name: Identifier("Result", 845..851),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 822..939,
}
UnionDeclaration {
    annotations: Empty,
    name: Identifier("Validation", 947..957),
    layout: None,
    derive_traits: [],
    terms: [],
    span: 941..1513,
}
ExtendsStatement {
    methods: [],
}
