ProgramRoot {
    statements: [
        ExpressionNode {
            omit: false,
            body: micro,
            span: 0..6,
        },
        ExpressionNode {
            omit: false,
            body: ApplyCallNode {
                monadic: false,
                caller: fun3,
                arguments: ArgumentsList {
                    terms: [
                        TupleTermNode {
                            key: None,
                            value: a,
                        },
                        TupleTermNode {
                            key: Some(
                                Identifier("k", 14..15),
                            ),
                            value: T,
                        },
                        TupleTermNode {
                            key: Some(
                                Identifier("p", 20..21),
                            ),
                            value: InfixNode {
                                infix: =,
                                lhs: U,
                                rhs: 1,
                            },
                        },
                    ],
                },
                body: None,
                span: 10..34,
            },
            span: 6..35,
        },
    ],
}